.skeleton {
    background: linear-gradient(90deg,
            #E5E7EB 25%,
            #F3F4F6 37%,
            #E5E7EB 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.rect {
    border-radius: 6px;
}

.circle {
    border-radius: 50%;
}

.text {
    border-radius: 4px;
    height: 1em;
    /* Default text height */
}